[Unit]
Description=TestService
After=network.target

[Service]
User=dotnet
Type=simple
WorkingDirectory=/opt/service
ExecStart=/opt/service/TestService
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=testservice.service
